/* спецификация */

ul, li {
	margin: 0;
	padding: 0;
	display: block;
}

.container {
	font-family: 'PT Sans', sans-serif;
}

h1,h2,h3 {
	color: #959393;
	margin-top: 40px;
	font-weight: bold;
}


/* header */
.header-slider, .header, .content, .our-team, .rewiev, .contacts, .ask, footer {
	background-color: #fff;
}

.header .container {
	background-color: #fff;
}

.nav-menu .menu .menu__item a {
	width: 20px;
	margin-left: 20px;
}

.menu__item a, .login-items {
	color: #959393;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	font-weight: bolder;
	margin-top: 20px;
}

.login {
	margin-top: 10px;
	cursor: pointer;
}

.login a {
	color: #fff;
	font-size: 16px;
}

.login__app {
	padding: 10px 15px;
	border-radius: 21px;
	background-color: #267df4;
	text-align: center;
}

.login__app i {
	margin-right: 10px;
	font-size: 20px;
}

.main-logo a .name-company {
	font-weight: bolder;
	text-decoration: none;
	font-size: 22px;
	margin: 0;
}

.main-logo a {
	text-decoration: none;
}

.main .container {
	background: #fff;
	padding: 30px 0;
}

.subscription {
	background-color: #fff;
	padding: 100px 0;
	color: #000;
	background-image: url('/images/zlatan-ibrahimovic-png-16.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0% 90%;
}

.subscription-text {
	width: auto;
	border-radius: 5px;
	padding: 10px;
	margin-left: 50px;
	font-size: 15px;
	margin-top: 30px;
	color: #fff;
	background-color: #267df4;
}
.subscription-price {
	width: auto;
	margin-left: 70px;
	margin-top: 13px;
}
.btn-sub {
	cursor: pointer;
	min-width: 150px;
	padding: 8px 27px;
	text-transform: uppercase;
	background: linear-gradient(to right, #56ccf2, #2f80ed);
	border: none;
	color: #ffffff;
	font-weight: 600;
	border-radius: 5px;
	outline: none;
	margin-top: 10px;
	font-size: 14px;
}

.sub__price {
	font-size: 22px;
    color: #267df4;
	font-weight: bolder;
}

#input-radio,#input-radio-2{
	display: none;
}

.fake{
   display: inline-block;
   width: 16px;
   height: 16px;
   border: 1px solid silver;
   border-radius: 50%;
   position: relative;
   top: 2px;
}


.fake::before{
   content: '';
   position: absolute;
   display: block;
   width: 10px;
   height: 10px;
   top: 50%;
   left: 50%;
   background-color:steelblue;
   transform: translate(-50%,-50%);
   border-radius: 50%;
   opacity: 0;
   transition: all ease 1s;
}

#input-radio:checked+ .fake::before,#input-radio-2:checked+ .fake::before{
	opacity: 1;


}


/* #input-radio{
	display: none;
}

.input-fake {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid silver;
	display: inline-block;
	position: relative;
}

.input-fake::before{
	content: '';
	display: block;
	background-color: red;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

#input-radio:checked+ .input-fake::before{
	opacity: 1;
} */

/* about */

.about-text {
	width: 600px;
	color: grey;
	text-align: center;
	margin: 0 auto;
}

.section-about{
     margin-top: 50px;
}

.section__title {
	font-size: 26px;
	color: #959393;
	margin: 0;
	width: 500px;
}

.item {
    width: 300px;
	height: 180px;
	background-color: #1359c8;
	margin: 10px;
}

.item__number {
	font-weight: lighter;
	font-size: 25px;
	margin: 0;
	padding: 20px 0 0 20px;
	color: #fff;
}

.item__text {
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
	margin: 0;
	padding: 20px;
	color: #fff;
}

.item:hover {
	color: #fff;
}

.item-1:hover {
	background-image:linear-gradient(rgba(1,1,1,.7), rgba(1,1,1,.7)), url('https://images.unsplash.com/photo-1526948531399-320e7e40f0ca?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjM3NTU1fQ');
	background-size: cover;
	background-position: center;
    -webkit-background-size: cover;
}

.item-2:hover {
	background-image:linear-gradient(rgba(1,1,1,.7), rgba(1,1,1,.7)), url('/images/bank.jpg');
	background-size: cover;
	background-position: center;
    -webkit-background-size: cover;
}

.item-3:hover {
	background-image:linear-gradient(rgba(1,1,1,.7), rgba(1,1,1,.7)), url('/images/kof.jpg');
	background-size: cover;
	background-position: center;
    -webkit-background-size: cover;
}

.item-4:hover {
	background-image:linear-gradient(rgba(1,1,1,.7), rgba(1,1,1,.7)), url('/images/sec.jpeg');
	background-size: cover;
	background-position: center;
    -webkit-background-size: cover;
}

/* /////кальк */

.calc-money {
	background-image: url('https://clipart.info/images/ccovers/1510437647Alexandre-Lacazette-Arsenal-2017-18-Png.png');
	background-repeat: no-repeat;
	background-size: contain;
	color: #000;
	background-position: 53%;
}

.calc-title {
	margin-top: 100px;
}

.input__earn {
	min-width: 200px;
	color: #959393;
	padding: 7px 15px;
	outline: none;
	border-radius: 5px;
	font-size: 22px;
	border: 1px solid silver;
	margin-top: 10px;
}

#select__rate {
	font-size: 22px;
	min-width: 230px;
	padding: 8px;
	border-radius: 5px;
	outline: none;
	color: #959393;
	border: 1px solid silver;
	margin-top: 10px;
}

.form-calc {
	margin-top: 70px;
}

.rate-bets ,.tarif {
    display: block;
    background-color: #1359c8;
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
}

.profit__text, .profit__rate, .profit__money {
	color: #267df4;
	font-size: 34px;
}

/* футер */

.footer__text {
	font-size: 20px;
	color:#959393;
	font-weight: bold;
	margin-top: 40px;
}
footer img {
	width: 85px;
	height: 25px;
	margin: 10px;
}
.partners {
	margin: 0 auto;
}

/* adaptive */

@media screen and (max-width:768px) {

	.nav-menu .menu .menu__item a {
		margin: 10px;
	}

	.main-logo a .name-company {
		width: auto;
	}

	.menu {
		margin: 15px auto;
	}


	.login__app  {
		margin: 15px auto;
	}

	.subscription {
		height: auto;
		padding: 52px 15px;
		font-size: 16px;
	}

	.subscription-text {
		margin-left: 350px;
		margin-top: 0;
	}

	.subscription-price {
		margin-left: 353px;
		margin-top: 0;
	}

	.sub__price {
	
		font-size: 40px;
		font-weight: bolder;
	}

	.form-subscription {
		margin-left: 300px;
	}

	.btn-sub {
		padding: 17px 74px;
		margin-top: 50px;
		position: relative;
		top: 20px;
	}

	.about-section section {
		margin: 10px auto;
		padding: 0 10px;
	}
	
	.partners {
		margin: 0 335px;
	}
}

@media screen and (max-width:576px) {

	html, body {
		/* Убирает прокрутку по горизонтале, для мобильной версии */
		overflow-x: hidden;
	}

	h1,h2,h3 {
		color: #959393;
		margin-top: 40px;
		font-weight: bold;
		font-size: 20px;
	}
	
	.login a {
	    width: 50%;
		margin: 0 auto;
		position: 0;
		left: 0;
		border-radius: 6px;
	}
	.subscription {
		padding: 116px 0;
	}

	.subscription-text {
		font-size: 12px;
		width: 360px;
		margin-left: 0;
		margin: 0px auto;
	}

	.form-subscription {
		margin-left: 0;
	}

	.form-calc {
		margin-top: 40px;
	}

	.btn-sub {
		margin-top: 10px;
		font-size: 16px;
	}

	.section__title {
		font-size: 20px;
		color: #959393;
		margin: 0;
		width: auto;
	}
	
	.item {
		width: 250px;
		height: 165px;
		background-color: #1359c8;
		margin: 10px;
	}

	.section-about {
		margin-top: 40px;
	}

	.form-calc{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.form-calc input , #select__rate {
		font-size: 15px
	}
	.partners {
		margin: 0px 254px;
	}
}

@media screen and (max-width:414px) {

	h1, h2, h3 {
		margin-top: 30px;
		font-size: 18px;
   }
	.subscription {
		padding:0;
   }
	.subscription-text {
		margin: 115px auto 0;
   }
	.sub__price {
		font-size: 28px;
		font-weight: bolder;
		margin-top: 10px;
   }
	.section__title {
		font-size: 18px;
		color: #959393;
		margin: 0;
		width: auto;
   }
	.item {
		width: 230px;
		height: 160px;
   }
	.item__text {
		font-size: 14px;
		padding: 18px;
   }
	.item__number {
		font-size: 23px;
		margin: 0;
		padding: 18px 0 0 18px;
		color: #fff;
   }
	footer img {
		width: 55px;
		height: 15px;
   }
   

}

@media screen and (max-width:375px) {

	h1, h2, h3 {
		margin-top: 20px;
		font-size: 16px;
	}

	.subscription-text {
		margin: 80px auto 0;
		width: 300px;
	}

}

@media screen and (max-width:320px) {

	.subscription-text {
		margin: 18px auto 0;
		width: 190px;
   }

	.item {
		width: 210px;
		height: 150px;
   }

	.item__number {
		font-size: 21px;
		padding: 16px 0 0 18px;
   }

	.section__title {
		font-size: 12px;
   }


	.item__text {
		font-size: 14px;
		padding: 16px;
   }
   

}