@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "MonLight";
  src: url("/fonts/Montserrat-Light.woff") format("woff"), url("/fonts/Montserrat-Light.woff2") format("woff2");
}
@font-face {
  font-family: "MonReg";
  src: url("/fonts/Montserrat-Regular.woff") format("woff"), url("/fonts/Montserrat-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "MonBold";
  src: url("/fonts/Montserrat-Bold.woff") format("woff"), url("/fonts/Montserrat-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "RoboReg";
  src: url("/fonts/RobotoCondensed-Regular.woff") format("woff"), url("/fonts/RobotoCondensed-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "NatoReg";
  src: url("/fonts/NotoSans.woff") format("woff"), url("/fonts/NotoSans.woff2") format("woff2");
}
@font-face {
  font-family: "NatoBold";
  src: url("/fonts/NotoSans-Bold.woff") format("woff"), url("/fonts/NotoSans-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "ObjBold";
  src: url("/fonts/ObjectSans-Heavy.woff") format("woff"), url("/fonts/ObjectSans-Heavy.woff2") format("woff2");
}
@font-face {
  font-family: "ObjReg";
  src: url("/fonts/ObjectSans-Slanted.woff") format("woff"), url("/fonts/ObjectSans-Slanted.woff2") format("woff2");
}
/* спецификация */
img {
  display: block;
}

.header,
.header-slider,
.content,
.our-team {
  background-color: #fff;
}

h1,
h2,
h3,
h4 {
  font-size: 32px;
  color: #474747;
  font-family: "ObjBold";
  margin-top: 5%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "MonBold";
  text-align: center;
}
@media (max-width: 992px) {
  h1,
h2,
h3,
h4 {
    font-size: 27px;
  }
}
@media (max-width: 576px) {
  h1,
h2,
h3,
h4 {
    font-size: 20px;
  }
}

.main-text {
  max-width: 800px;
  width: 100%;
  line-height: 65px;
  letter-spacing: 3px;
  text-align: center;
  margin: 10% auto;
}
.main-text__lines {
  font-size: 48px;
  color: #474747;
  font-family: "ObjBold";
}
.main-text__lines:last-child {
  color: #c2e900;
}
@media (max-width: 992px) {
  .main-text__lines {
    font-size: 35px;
    line-height: 45px;
  }
}
@media (max-width: 768px) {
  .main-text__lines {
    font-size: 27px;
    line-height: 40px;
  }
}
@media (max-width: 576px) {
  .main-text__lines {
    font-size: 22px;
    line-height: 35px;
  }
}
@media (max-width: 320px) {
  .main-text__lines {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (max-width: 992px) {
  .main-text--mt {
    margin-top: 31%;
  }
}
@media (max-width: 768px) {
  .main-text--mt {
    margin: 16% auto 5%;
  }
}

a {
  font-family: "NatoReg";
}

.btn-pay {
  font-size: 14px;
  color: #000;
  font-family: "ObjBold";
  border-radius: 3px;
  max-width: 220px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 10px auto;
  border: 3px solid transparent;
  background-color: #c2e900;
  padding: 8px 20px;
  margin: 15px 0;
}
@media (max-width: 992px) {
  .btn-pay {
    margin: 30px auto 0;
  }
}
@media (max-width: 768px) {
  .btn-pay {
    padding: 12px 0;
    max-width: 280px;
    font-size: 16px;
  }
}
.btn-pay:hover {
  background-color: #fdd90aef;
  color: #fff;
  text-decoration: none;
}
.btn-pay:focus {
  border: transparent;
}

.main-text {
  margin-bottom: 5%;
}
@media (max-width: 576px) {
  .main-text__lines {
    font-size: 14px;
    line-height: 22px;
  }
}
.main-text__lines span {
  color: steelblue;
}

.social-media {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .social-media {
    flex-wrap: wrap;
  }
}

.box-items {
  text-align: center;
  width: 25%;
  padding: 15px 0;
}
@media (max-width: 768px) {
  .box-items {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .box-items {
    width: 100%;
  }
}
.box-items__text {
  margin-top: 10px;
  font-size: 14px;
  color: #474747;
  font-family: "ObjBold";
}
@media (max-width: 768px) {
  .box-items__text {
    font-size: 18px;
  }
}

.link__i {
  font-size: 26px;
  transition: all ease 1s;
}
@media (max-width: 768px) {
  .link__i {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .link__i {
    font-size: 45px;
  }
}
@media (max-width: 576px) {
  .link__i {
    font-size: 45px;
  }
}
.link__i:hover {
  color: #c2e900;
}