/* contacts */
  
.contacts-body{
    max-width: 600px;
    margin:3% auto;
    
    @media(max-width:768px){
        flex-direction: column;
    }

    .contact-box{
  
        &__text{
           @include  fonts(16px,#474747,$ff6);
           line-height: 35px;
           font-variant: small-caps;
        }
    }
}

#map{
    width: 100%;
    padding: 15% 0;
}