<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">


	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/animate.css" rel="stylesheet">
	<link href="/css/style2.css" rel="stylesheet">
	<link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Lato|PT+Sans|Roboto|Varela+Round&display=swap" rel="stylesheet">
	<title>Document</title>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row d-flex align-items-center">
				<div class="col-lg-5 d-flex justify-content-center">
					<div class="nav-menu animated fadeInLeft">
						<ul class="menu d-flex d-flex justify-content-center">
							<li class="menu__item">
								<a href="#"><img alt="menu" class="burger-img" src="/images/menu.png"></a>
							</li>
							<li class="menu__item">
								<a href="/">Главная</a>
							</li>
							<li class="menu__item">
								<a href="/#our-rate">Купить прогноз</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 d-flex justify-content-center">
					<div class="main-logo animated fadeInDown">
						<a class="link__logo" href="#">
						<h1 class="name-company">Smart Bets</h1><img alt="logo" class="img__logo" src="/images/NewProvidence.png"></a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="login d-flex animated fadeInRight">
						<a class="login__app" href="https://www.apple.com/ios/app-store/"><i class="fa fa-apple"></i> Get App</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="paralax bg">
		<div class="container"></div>
	</div>
	
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="subscription-title text-center">МЕСЯЦ ВЫИГРЫШНЫХ СТАВОК ОТ SmartBets</h2>
				</div>
			</div>
			<div class="subscription" >
				<div class="subscription-service d-flex">
					<div class="row">
						<div class="col-lg-6 ml-auto">
							<p class="subscription-text" id="podpiska">Оплатив подписку на месяц, ежедневно Вы будете получать матчи тарифных планов “Старт” и “Плюс”.Профит, при усредненных показателях, составит +7100% или +7100$ .Следуя всем нашим рекомендациям, в ближайшее время вы сможете выйти на стабильную прибыль в 100 000 - 200 000 рублей в месяц.</p>
						</div><svg viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
						<path d="M 18 32.34 l -8.34 -8.34 -2.83 2.83 11.17 11.17 24 -24 -2.83 -2.83 z" fill="transparent" stroke="#3da35a"></path></svg>
						<div class="col-lg-4">
							<div class="subscription-price">
								<p class="sub__price">25 500 &#8381</p>
							</div>
							<form class="form-subscription">
								<label for="input__sub">Неделя <input class="input__sub" name="price" type="radio" value="week"></label> <label for="input__sub">Месяц <input checked class="input__sub" name="price" type="radio" value="mounth"></label>
								<a  class="btn-sub text-center "href="/card?price=25500&rate=Подписка%20"  >ОПЛАТИТЬ ПОДПИСКУ</a>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="paralax bg">
		<div class="container"></div>
	</div>

	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
			     <h3 class="about-title text-center"> Статистика клиентов оплативших подписку</h3>
				</div>
			</div>
				<div class="row">
					<div class="col-lg-12">
						<p class="about-text ">Наиболее выгодный тариф от наших специалистов,который поможет вам максимально прилично поднять свой банк!</p>
					</div>
				</div>
				<div class="about-section d-flex justify-content-center ">
					<div class="row">
						<div class="col-lg-4">
							<section class="d-flex flex-column align-items-center ">
								<img src="/images/boy.svg" alt="user" class="section__img">
								<h3 class="section__title text-center">9.690 тысяч клиентов</h3>
								 <p class="section__text">оформивших подписку</p>
							</section>
						</div>
							<div class="col-lg-4">
								<section class="d-flex flex-column align-items-center ">
									<img src="/images/allocation.svg" alt="user" class="section__img">
									<h3 class="section__title text-center"> примерно у 70% клиентов</h3>
									 <p class="section__text text-center">Банк растет от 280-350 тысяч каждый месяц</p>
								</section>
							</div>
							<div class="col-lg-4">
								<section class="d-flex flex-column align-items-center ">
									<img src="https://image.flaticon.com/icons/svg/1189/1189156.svg" alt="user" class="section__img">
									<h3 class="section__title text-center">Лидеры в своей сфере!</h3>
									 <p class="section__text text-center">Мы даем максимально высокие кофициенты на свои прогнозы</p>
								</section>
							</div>
						
					</div>
				</div>
				
			
		</div>
	</div>
	<div class="paralax bg">
		<div class="container"></div>
	</div>
	<div class="calc">
		<div class="container">
			<div class="calc-money">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="calc-title text-center">ПОСЧИТАЙТЕ, СКОЛЬКО ВЫ МОЖЕТЕ ЗАРАБОТАТЬ ПРЯМО СЕЙЧАС</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5">
						<form>
							<label for="input-earn">размер ставки <input class="input__earn" type="number" placeholder="Введите сумму ставки"></label>
						</form>
					</div>
					<div class="col-lg-4">
						<form class="form-rate">
							<label for="">тарифный план <select id="select__rate" name="rate">
								<option value="1.9">
									Старт
								</option>
								<option value="3">
									Плюс
								</option>
								<option value="4.8">
									Бомба
								</option>
								<option value="12">
									Супер Экспресс
								</option>
							</select></label>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 d-flex justify-content-center">
						<p class="profit__text">Ваша прибыль</p>
					</div>
					<div class="your-rate">
						<div class="row">
							<div class="col-lg-12 d-flex">
								<p class="profit__rate text-center">0</p>
								<p class="profit__money text-center">$</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="paralax bg">
		<div class="container"></div>
	</div>
	<div class="info">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="info-text text-center">Посмотреть статистику прогнозов</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="arrow-top"></div>
				</div>
			</div>
			<div class="info-table">
				<table class="table table-bordered table-opacity0">
					<thead>
						<tr>
							<th scope="col">Время события</th>
							<th scope="col">ТАРИФ</th>
							<th scope="col">КОЭФФИЦИЕНТ</th>
							<th scope="col">РЕЗУЛЬТАТ</th>
							<th scope="col">ПРИБЫЛЬ</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
						</tr>
						<tr>
							<td scope="row">06.21 в 22:00</td>
							<td class="tomato">Плюс</td>
							<td>3.07</td>
							<td class="green">Выигрыш</td>
							<td>+270%/270$</td>
						</tr>
						<tr>
							<td scope="row">06.21 в 22:00</td>
							<td class="purple">Бомба</td>
							<td>4.4</td>
							<td class="green">Выигрыш</td>
							<td>+340%/340$</td>
						</tr>
						<tr>
							<td scope="row">06.21 в 22:00</td>
							<td class="purple">Бомба</td>
							<td>4.7</td>
							<td class="green">Выигрыш</td>
							<td>+370%/370$</td>
						</tr>
						<tr>
							<td scope="row">06.21 в 22:00</td>
							<td class="tomato">Плюс</td>
							<td>2.5</td>
							<td class="green">Выигрыш</td>
							<td>+150%/150$</td>
						</tr>
						<tr>
							<td scope="row">06.21 в 22:00</td>
							<td class="tomato">Плюс</td>
							<td>2.8</td>
							<td class="green">Выигрыш</td>
							<td>+180%/180$</td>
						</tr>
						<tr>
							<td scope="row">06.21 в 22:00</td>
							<td class="purple">Бомба</td>
							<td>3.7</td>
							<td class="red">Проигрышь</td>
							<td>-</td>
						</tr>
						<tr>
							<td scope="row">06.21 в 22:00</td>
							<td class="blue">Супер Экспресс</td>
							<td>11.54</td>
							<td class="green">Выигрыш</td>
							<td>+1054%/1054$</td>
						</tr>
						<tr>
							<td scope="row">06.21 в 22:00</td>
							<td class="tomato">Плюс</td>
							<td>3.2</td>
							<td class="green">Выигрыш</td>
							<td>+220%/220$</td>
						</tr>
						<tr>
							<td scope="row">06.21 в 22:00</td>
							<td class="blue">Супер Экспресс</td>
							<td>10.20</td>
							<td class="green">Выигрыш</td>
							<td>+920%/920$</td>
						</tr>
						<tr>
							<td scope="row">06.21 в 22:00</td>
							<td class="tomato">Плюс</td>
							<td>2.64</td>
							<td class="green">Выигрыш</td>
							<td>+164%/164$</td>
						</tr>
						<tr>
							<td scope="row">06.21 в 22:00</td>
							<td class="brown">Старт</td>
							<td>1.80</td>
							<td class="green">Выигрыш</td>
							<td>+80%/80$</td>
						</tr>
					</tbody>
				</table>
				<div class="arrow-top up"></div>
			</div>
		</div>
	</div>
	<div class="paralax bg">
		<div class="container"></div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<p class="footer__text">Наши партнеры</p>
				</div>
				<div class="partners d-flex justify-content-center">
					<div class="row">
						<div class="col-lg-3"><img alt="partner" src="https://s13.postimg.cc/m9c0wcpxz/2017-10-23-logo-refresh.png"></div>
						<div class="col-lg-3"><img alt="partner" src="https://i.postimg.cc/m27ZtrxQ/blokt-logo-no-tagline-light-bg-1200x250px1.png"></div>
						<div class="col-lg-3"><img alt="partner" src="https://i.postimg.cc/Kz911f3c/56766135-running-SEO-logo-01.png"></div>
						<div class="col-lg-3"><img alt="partner" src="https://s13.postimg.cc/hcpyykzbr/stillio-as-logo-1000-green.png"></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="/js/main2.js">
	</script> 
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
	</script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
	</script> 
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
	</script>
</body>
</html>