<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/animate.css" rel="stylesheet">
	<link href="/css/style2.css" rel="stylesheet">
	<link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Lato|PT+Sans|Roboto|Varela+Round&display=swap" rel="stylesheet">
	<title>Document</title>
</head>

<body>
	<div class="header">
		<div class="container">
			<div class="row d-flex align-items-center">
				<div class="col-lg-5 d-flex justify-content-center">
					<div class="nav-menu animated fadeInLeft">
						<ul class="menu d-flex d-flex justify-content-center">
							<li class="menu__item">
								<a href="/">Главная</a>
							</li>
							<li class="menu__item">
								<a href="/#our-rate">Купить прогноз</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 d-flex justify-content-center">
					<div class="main-logo animated fadeInDown">
						<a class="link__logo" href="#">
							<h1 class="name-company">Smart Bets</h1>

						</a>
					</div>
				</div>
				<div class="col-lg-3 ml-auto">
					<div class="login d-flex animated fadeInRight">
						<a class="login__app" href="https://www.apple.com/ios/app-store/"><i class="fa fa-apple"></i>
							Get App</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="subscription-title text-center">МЕСЯЦ ВЫИГРЫШНЫХ СТАВОК ОТ SmartBets</h2>
				</div>
			</div>
			<div class="subscription">
				<div class="subscription-service d-flex">
					<div class="row">
						<div class="col-lg-6 ml-auto">
							<p class="subscription-text" id="podpiska">Оплатив подписку на месяц, ежедневно Вы будете
								получать матчи тарифных планов “Старт” и “Плюс”.Профит, при усредненных показателях,
								составит +7100% или +7100$ .Следуя всем нашим рекомендациям, в ближайшее время вы
								сможете выйти на стабильную прибыль в 100 000 - 200 000 рублей в месяц.</p>
						</div><svg viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
							<path d="M 18 32.34 l -8.34 -8.34 -2.83 2.83 11.17 11.17 24 -24 -2.83 -2.83 z"
								fill="transparent" stroke="#3da35a"></path>
						</svg>
						<div class="col-lg-4">
							<form class="form-subscription d-flex flex-column align-items-center">
								<p class="sub__price">25 500 &#8381</p>
								<label for="input__sub">
									<input class="input__sub" name="price" type="checkbox" value="week">
									<span class="input__text">Неделя</span>
									<span class="fake-input"></span>
								</label>
								<label for="input__sub">
									<input checked class="input__sub" name="price" type="checkbox" value="mounth">
									<span class="input__text">Месяц</span>
									<span class="fake-input"></span>
								</label>
								<a class="btn-sub text-center " href="/card?price=25500&rate=Подписка%20">ОПЛАТИТЬ
									ПОДПИСКУ</a>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="about-title text-center"> Статистика клиентов оплативших подписку</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 ml-auto">
					<div class="section-about d-flex ml-auto justify-content-center">
						<h3 class="section__title ">Самый выгодный тариф</h3>

						<div class="table d-flex flex-wrap">
							<div class="item item-1">
								<p class="item__number">1 </p>
								<p class="item__text">9 482 оформили подписку</p>
							</div>
							<div class="item item-2">
								<p class="item__number">2</p>
								<p class="item__text">Банк растет от 280-350 тысяч каждый месяц</p>
							</div>
							<div class="item item-3">
								<p class="item__number">3 </p>
								<p class="item__text">Самые высокие кофициенты</p>
							</div>
							<div class="item item-4">
								<p class="item__number">4 </p>
								<p class="item__text">Стань успешнее</p>
							</div>
						</div>
					</div>
				</div>
			</div>



		</div>
	</div>
	</div>
	<div class="calc">
		<div class="container">
			<div class="calc-money">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="calc-title text-center">ПОСЧИТАЙТЕ, СКОЛЬКО ВЫ МОЖЕТЕ ЗАРАБОТАТЬ ПРЯМО СЕЙЧАС</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<form class="form-calc d-flex justify-content-around ">
							<label for="input-earn ">
								<span class="rate-bets">Размер ставки</span>

								<input class="input__earn" type="number" placeholder="Введите сумму ставки">
							</label>
							<label for="select__rate">
								<span class="tarif">тарифный план</span>

								<select id="select__rate" name="rate">
									<option value="1.9">
										Старт
									</option>
									<option value="3">
										Плюс
									</option>
									<option value="4.8">
										Бомба
									</option>
									<option value="12">
										Супер Экспресс
									</option>
								</select></label>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 ">
						<div class="your-rate d-flex justify-content-center">
							<p class="profit__text">Ваша прибыль </p>
							<p class="profit__rate text-center"> 0</p>
							<p class="profit__money text-center">$</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	</div>


	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<p class="footer__text">Наши партнеры</p>
				</div>
				<div class="partners d-flex justify-content-center">
					<div class="row">
						<div class="col-lg-3"><img alt="partner"
								src="https://s13.postimg.cc/m9c0wcpxz/2017-10-23-logo-refresh.png"></div>
						<div class="col-lg-3"><img alt="partner"
								src="https://i.postimg.cc/m27ZtrxQ/blokt-logo-no-tagline-light-bg-1200x250px1.png">
						</div>
						<div class="col-lg-3"><img alt="partner"
								src="https://i.postimg.cc/Kz911f3c/56766135-running-SEO-logo-01.png"></div>
						<div class="col-lg-3"><img alt="partner"
								src="https://s13.postimg.cc/hcpyykzbr/stillio-as-logo-1000-green.png"></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="/js/main2.js">
	</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
	</script>
</body>

</html>