<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/scss/welcome.css" rel="stylesheet">
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <title>User Cabinet SmartBets</title>
</head>

<body>

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="menu">
                        <li class="menu__item item">
                            <a href="/" class="menu__link item__link">Главная</a></li>
                        <li class="menu__item">
                            <a href="/buy" class="menu__link">Инфо про подписку</a>
                        </li>
                        <li class="menu__item">
                            <p class="p__item"><%= user.name %></p>
                        </li>

                    </ul>
                    <h2 class="welcome-title text-center">Приветствуем Вас на нашем сайте!</h2>
                </div>
            </div>

        </div>
    </div>

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="inst">
                        <p class="inst__title">
                            Как приобрести прогноз или оформить подписку?
                        </p>
                        <p class="inst__sub-title">Все очень просто</p>
                        <ol class="inst__menu menu-list">
                            <li class="menu-list__item">Выбираете тариф или подписку</li>
                            <li class="menu-list__item">Нажимаете на кнопку купить прогноз</li>
                            <li class="menu-list__item">Переходите оплатить онлайн</li>
                            <li class="menu-list__item">После оплаты мы высылаем вам прогноз на ваш емейл!</li>
                            <li class="menu-list__item">Прогноз будет отображаться в личном кабинете</li>
                        </ol>
                        <div class="btn-body d-flex justify-content-between">
                            <div class="btn-buy">
                                <a class="btn-pay" href="/#our-rate">купить прогноз</a>
                            </div>
                            <div class="btn-buy">
                                <a href="/buy" class="btn-pay">оформить подписку</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 d-flex flex-column  align-items-center">
                    <div class="main-bg">
                        <img src="/images/bmw.jpg" alt="car" class="main-bg__img">
                        <p class="main-bg__text">Smart Bets</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center mt-2">
                    <img src="http://emoticons.do.am/1/110/9.png" class="mem__img" alt="mem">
                </div>
            </div>
        </div>
    </div>
    </div>








    <script src="./node_modules/card-info/dist/card-info.min.js"></script>
    <script src="/js/main3.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
</body>

</html>