@font-face {
    font-family: 'Object Sans';
    src: url('ObjectSans-Heavy.woff2') format('woff2'),
        url('ObjectSans-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

